* {
    box-sizing: border-box;
    
}

  
  
body {
    background-image: url('../images/back.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  min-width:100%;
  min-height:100%;
   padding: 200px;
    padding-top: 200px;
    padding-right: 200px;
   padding-left: 100px;
  margin: 40px;
    
}

header{
    margin-bottom: 100px;
}
#order{
    position: fixed;
    width: 8%;
    padding-right: 0%;
    right: 5%;
    padding-top: 0px;
    margin-top: 20%;
    top: 0%;
    z-index: top;
}

.img2{
    position: fixed;
    width: 300px;
    height: 300px;
    padding-right: 0%;
    right: 0%;
    padding-top: 0px;
    margin-top: 0%;
    top: 0%;
}
header ul {
margin:40px;
position: relative;
background-color: rgb(150, 130, 131);
opacity: 60%;
}
.logo{
    position: absolute;
    width: 250px;
    right: 48%;
    top: 12%;
    opacity: 50%;
    border-radius: 60% ;
}
.gif{
    position: absolute;
    top:70%;
    width: 200px;
    right: 40%;
    border-radius: 60%;
  
}
 ul li {
    display: inline-block;
    margin-right: 150px;
    
}
li:hover{
    background-color:wheat;
}

 ul li a {
text-decoration: none;
color:rgb(129, 27, 58);
font-weight:bolder;
font-size: 20px;
font-family:fantasy;
padding-bottom: 0px;
margin-top: 100px;

}


.img1 {
    height: 200px;
    max-width: 250px;
   position:absolute;
   left: 30%;
   top: 20px;
   background-image: -webkit-image-set();
   
}

#left-col{
    float: left;
    max-width: 50%;
    margin: 0px;
    padding: 0px;
      
    
}
#im2{
    max-width:100%;
    padding-right: 0px;
    margin: 0px;
}
#right-col {
float: right;
max-width:50%;
margin: 0px;
padding: 0%;
}

#right-col img {
max-width:70% ;
}
.spec{
    position: absolute;
    max-width: 20%;
}

main article{
    width:80%;
    background-image: url('../images/back.jpg');
    background-size: 800px;
    
     
     min-height: 300px;
     margin: 30px;
}
main h3{
    text-align:left;
    padding-left: 40px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-top: 20px;
}
main p {
    font-style: italic;
    text-align: left;
  
    padding-top: 20px;
    padding-left: 30px;
   font-family:cursive;
    font-weight:bolder;
    color: black;
}

#special{
    
    border-style: double;
    border-color: coral;
    color: black;
    opacity: 70%;
    margin-bottom: 40px;
    background-color: blanchedalmond;
}
footer{
    clear: both;
    background-image: url("../images/upper1.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 20px;
}
footer address{
    color: rgb(20, 20, 20);
}
#right{
position: absolute;
right: 50px;
}
.slide {
        overflow:auto;
        white-space:nowrap;
    
}

form{
    background-color: blanchedalmond;
    opacity: 40%;
    border-radius: 40%;
}
input{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: coral;
    border-radius:70% ;
    padding: 5px 5px 5px 10px;
  
    font-weight: bolder;
}
legend {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    font-weight: bolder;
    text-align: left;
    color: rgb(160, 93, 69)
}

label{
    color: black;
    font-family: fantasy;
    
}
form fieldset{
    border: none;
}
button{
    border-radius: 60%;
    font-family:cursive;
    background-color: brown;
}
button:hover{
    background-color: rgb(88, 37, 37);
}
input:hover{
    color: rgb(212, 182, 182);
    padding: 5px 5px 5px 3px;
    background-color: rgb(70, 31, 31);
    
    
}
footer p{
    font-family: fantasy;
}
